:root {
    --card_width: 250px;
    --row_increment: 10px;
    --card_border_radius: 16px;
    --card_small: 26;
    --card_med: 33;
    --card_large: 45;

    --bg_color: #ffffff;
    --typewritter_speed: 1.5s;
    --typewritter_color: rgb(0, 0, 0);
    --font_color: rgb(0, 0, 0);

    --fontsize_header: 2rem;
    --fontsize_body: 2rem;
    --fontsize_section_header: 4rem;
}   

*{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    border: 0px 0px 0px 0px;

    font-family: "Noto Sans Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}


body{
    background-image: linear-gradient(to top, #fdfdfd 0%, #ffffff 100%);
    /* min-width: 485px; */
    max-width: 1600px;
    
    margin-left: 50px;
    margin-right: 50px;

    font-size: var(--fontsize_body);
}

@media (max-width: 480px) {
    body{
        margin-left: 10px;
        margin-right: 10px;
    }

    .section-area{
        flex-direction: row;
    }
}


header{ 
    margin-top: 2rem;
    height: 120px;
    font-size: var(--fontsize_header);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main{
    height: 1300px;
}

.name{
    flex-shrink: 0;
    margin-right: 50px;
}

.contact a{
    text-decoration: none;
    color: var(--font_color);
}

/* re-useable for each section */
.section-description{
    margin-top: 30px;
}

.section-component{
    width: 100%;
    
    
    margin-top: 45px;
    margin-bottom: 150px;

    outline: red solid 1px;

    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.section-container{
    margin-top: 50px;
}

.year-number{
    font-size: var(--fontsize_section_header);
}

.line-divider{
    margin-top: -5px;
    border-bottom-width: 4px;
    border-bottom-color: black;
    border-bottom-style: solid;

    animation: line-appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}


.tile-container{    
    /* background-color: yellow; */
    margin-top: 25px;

    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-auto-rows: var(--row_increment);
    justify-content: center;
    
}

.card {
    
    
    margin: 15px 10px;
    /* background-color: #ffffff; */
    /* border-radius: var(--card_border_radius); */
    /* box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.2); */

    text-align: center;
    display: flex;
    align-items: center;

    animation: card-appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    
}

.card-empty{
    /* box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.1); */
    
}

.card-small{
   grid-row-end: span var(--card_small);
}
.card-medium{
    grid-row-end: span var(--card_med);
}
.card-large{
    grid-row-end: span var(--card_large);
}

@keyframes line-appear {
    from {
        opacity: 0;
        clip-path: inset(100% 100% 0 0);
    }
    to {
        opacity: 1;
        clip-path: inset(0 0 0 0);
    }
}

@keyframes card-appear {
    from {
        opacity: 0;
        scale: .25;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

/* typing effect */
@keyframes typewriter {
    to {
      left: 100%;
    }
}
  
@keyframes blink {
    to {
      background: transparent;
    }
}

.typewritter-effect{
    position: relative;
    width: max-content;
}

.typewritter-effect::before, .typewritter-effect::after{
    content:'';
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    position: absolute;
    
}

.typewritter-effect::before{
    
    background-color: var(--bg_color);
    
    animation: 
        typewriter var(--typewritter_speed) steps(14) forwards;
}

.typewritter-effect::after{
    margin-left: 3px;
    width: 0.125em;
    background: var(--typewritter_color);
    
    animation: 
        typewriter var(--typewritter_speed) steps(13) forwards, 
        blink 1s steps(14) infinite; 
}