*{
    --ratio: .75;
    
    --possible-value-font-size: calc(0.5rem*var(--ratio));   
    --gridItem-size: 8%;
    --row-gap: 3px;
    --columns: 9;
    --gap-between-grids: 5px;
    
    --selection-color-bg: rgba(0, 247, 255, 0.954);
    --tile-bg-start: white;
    --tile-bg-influence: rgba(255, 157, 0, 0.52);
    --tile-bg-invalid: rgba(255, 0, 0, 0.52);
    --tile-bg-success: rgba(0, 255, 0, 0.52);

    --font-size-potential-value: calc(1rem*var(--ratio));

    --resetbutton-width: calc(350px*var(--ratio));
    --resetbutton-height: calc(6rem*var(--ratio));
    
}

.reset-button{
    width: 10%;
    
    font-size: 2vw;
    text-align: center;

    background-color: var(--tile-bg-invalid);
    color: white;
    border: 1px solid;
    border-radius: calc(var(--ratio)*var(--resetbutton-width) * 0.15);

    transition: 0.25s ease-in-out;
}

.reset-button:hover{
    scale: 1.1;
    cursor: pointer;
}

.main-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    height: 50vw;
    width: 100%;

    font-size: calc(1.5rem*var(--ratio));
}   



.grid{

    margin-right: 2%;

    width: 50%;
    height: 85%;
    display: grid;
    
    grid-template-columns: repeat(9,1fr);

    row-gap: 3px;
    column-gap: 3px;

}

.grid-item{
    border: 1px solid;
    
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
    background-color: 3vw;
    font-weight: bold;
    transition: scale .5s;
}



.grid-item-success{
    animation-name: success-animation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes success-animation{
    from {
        background-color: var(--tile-bg-start);
    }
    to{
        background-color: var(--tile-bg-success);
        scale: 1.1;
    }
}


.grid-item:hover{
    scale: 1.55;
}

.grid-item-influence{
    background-color: var(--tile-bg-influence);
}

/* must override influence */
.grid-item-invalid{
    background-color: var(--tile-bg-invalid);
    scale: 1.15;
}

.grid-item-animation{
    background-color: var(--selection-color-bg);
    color: black;
    scale: 1.25;
}

/* Possible Value Grid */
.possible-value-container{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid;
    
    justify-content: center;
    align-items: center;
    
    border-radius: 5px;
    
    font-size: var(--font-size-potential-value);
    text-align: center;
    background-color: rgba(0,255,0,0.52);
}

.possible-value-tile{
    text-align: center;
}

.possible-value-removed{
    opacity: 0.25;
}

@media (max-width: 480px) {
    .main-container{
        flex-direction: column;
        height: 90vh;
        width: 50vh;
    }
    .grid{
        width: 80%;
        height: 50%;

        margin-right: 0px;
        margin-top: 30px;
    }
    .possible-value-container{
        font-size: 2vw;
    }

    .reset-button{
        font-size: 4vw;
    }
}
