*{
    

    --selection-color-bg: rgba(0, 247, 255, 0.954);
    --tile-bg-start: white;
    --tile-bg-influence: rgba(255, 157, 0, 0.52);
    --tile-bg-invalid: rgba(255, 0, 0, 0.52);
    --tile-bg-success: rgba(0, 255, 0, 0.52);

    

}

.reset-button{
    width: clamp(75px, 8vw, 200px);
    border-radius: 20px;
    margin-bottom: 10px;
    
    font-size: 2vw;
    text-align: center;

    background-color: var(--tile-bg-invalid);
    color: white;
    border: none;
    
    transition: 0.25s ease-in-out;
}

.reset-button:hover{
    scale: 1.1;
    cursor: pointer;
}

.main-container{
    /* border: red 3px solid; */
    display: flex;
    
    justify-content: center;

}   

.grid{

    /* border: blue 2px solid; */

    margin: clamp(1px, 1vw, 10px);

    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: repeat(9,1fr);
    
    grid-gap: 1px;
   

}

.grid-item{
    border: black 1px solid;
    font-size: clamp(0.5vw, 2vw, 50px);
    
    display: flex;
    align-items: center;
    justify-content: center;
    transition: scale .5s;
}



.grid-item-success{
    animation-name: success-animation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes success-animation{
    from {
        background-color: var(--tile-bg-start);
    }
    to{
        background-color: var(--tile-bg-success);
        scale: 1.03;
    }
}


.grid-item:hover{
    scale: 1.55;
}

.grid-item-influence{
    background-color: var(--tile-bg-influence);
}

/* must override influence */
.grid-item-invalid{
    background-color: var(--tile-bg-invalid);
    scale: 1.15;
}

.grid-item-animation{
    background-color: var(--selection-color-bg);
    color: black;
    scale: 1.25;
}

.container{
    /* border: cyan 3px solid; */
}

/* Possible Value Grid */
.possible-value-container{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: rgba(0,255,0,0.52);
}

.possible-value-tile{
    /* border: pink 1px solid; */
    font-size: clamp(0px, 1vw, 15px);
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.possible-value-removed{
    opacity: 0.25;
}

@media (max-width: 480px) {
    .reset-button{
        font-size: 4vw;
    }
}